# Eclipse Specific #
/build/
/bin/
/dist/
target/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp


# FRC Specific #
# sysProps.xml will be regenerated on usb deploy
sysProps.xml
sysProps.xml.orig


# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
